<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Cluster API</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/cluster.js"></script>
</head>
<body>
    {{{ body }}}
</body>
</html>
